{% extends "master.html" %}

{% block title %}404{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}
<section>
  <div class="container">

    <img src="{{ url_for('static', filename='bugspad1.png') }}" style="width: auto;">
    <h1>No such bug found in this planet.</h1>

  </div> <!-- end container -->
</section>
{% endblock %}