{% extends "master.html" %}

{% block title %}Home{% endblock %}
{%block tag %}home{% endblock %}
{%block header%}<style>section { text-align: left;}</style>{% endblock %}

{% block content %}
	<section>
      <div class="container">
        <h1>Welcome to Bugspad</h1>
        <p><a href="http://bugspad2.rtfd.org">Documentation</a></p>
      {% if created %}
      <h3>Latest created bugs</h3>
      <table class="table table-full table-border-all">
      	<thead>
      		<tr><th>Bug ID</th><th>Summary</th></tr>
      	</thead>
      	<tbody>
      	{% for row in created %}
      	<tr><td><a href="{{ url_for('view_bug', bug_id=row['id']) }}">{{ row['id'] }}</a></td><td>{{ row['summary'] }}</td></tr>
      	{% endfor %}
      </tbody>
      </table>
      {% endif %}
      {% if updated %}
      <h3>Latest updated bugs</h3>
      <table class="table table-full table-border-all">
      	<thead>
      		<tr><th>Bug ID</th><th>Summary</th></tr>
      	</thead>
      	<tbody>
      	{% for row in updated %}
      	<tr><td><a href="{{ url_for('view_bug', bug_id=row['id']) }}">{{ row['id'] }}</a></td><td>{{ row['summary'] }}</td></tr>
      	{% endfor %}
      </tbody>
      </table>
      {% endif %}
      <div>
	</section>
{% endblock %}