{% extends "master.html" %}

{% block title %}Login{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}
<section>
  <div class="container">
    <h1>Login to Bugspad</h1>
    <form class="form-inline border-radius" action="{{ url_for('do_login') }}" method="POST">       
      <div class="form-item">
        <label for="username">username:</label>
        <input type="text" name="username" placeholder="username" />
      </div>                 
      <div class="form-item">
        <label for="password">Password:</label>
        <input type="password" name="password" />
      </div>
      {{ form.csrf_token }}
      <input type="submit" value="login" class="btn btn-small border gray pill">
    </form>
    <p>
      If you do not have already an account: <a href="{{ url_for('new_user') }}">Create one!</a>
    </p>

    <p>
      <a href="{{ url_for('lost_password') }}">Forgot your password?</a>
    </p>

  </div> <!-- end container -->
</section>
{% endblock %}
