{% extends "master.html" %}

{% block title %}Home{% endblock %}
{%block tag %}home{% endblock %}
{%block header%}<style>section { text-align: left;}</style>{% endblock %}

{% block content %}
	<section>
      <div class="container">
        <h1>Your bugs</h1>
      {% if ass %}
      <h3>Bugs assigned to you</h3>
      <table class="table table-full table-border-all">
            <thead>
                  <tr><th>Bug ID</th><th>Summary</th></tr>
            </thead>
            <tbody>
            {% for row in ass %}
            <tr><td><a href="{{ url_for('view_bug', bug_id=row['id']) }}">{{ row['id'] }}</a></td><td>{{ row['summary'] }}</td></tr>
            {% endfor %}
      </tbody>
      </table>
      {% endif %}
      {% if reporter %}
      <h3>Bugs you reported</h3>
      <table class="table table-full table-border-all">
      	<thead>
      		<tr><th>Bug ID</th><th>Summary</th></tr>
      	</thead>
      	<tbody>
      	{% for row in reporter %}
      	<tr><td><a href="{{ url_for('view_bug', bug_id=row['id']) }}">{{ row['id'] }}</a></td><td>{{ row['summary'] }}</td></tr>
      	{% endfor %}
      </tbody>
      </table>
      {% endif %}
      {% if ccs %}
      <h3>Bugs you are CCed</h3>
      <table class="table table-full table-border-all">
            <thead>
                  <tr><th>Bug ID</th><th>Summary</th></tr>
            </thead>
            <tbody>
            {% for row in ccs %}
            <tr><td><a href="{{ url_for('view_bug', bug_id=row['id']) }}">{{ row['id'] }}</a></td><td>{{ row['summary'] }}</td></tr>
            {% endfor %}
      </tbody>
      </table>
      {% endif %}
      <div>
	</section>
{% endblock %}