{% extends "master.html" %}
{% from "_formhelpers.html" import render_field_in_row %}

{% block title %}New user{% endblock %}
{%block tag %}home{% endblock %}

{% block content %}
<section>
  <div class="container">
  <h2>New user</h2>

  <p>
    If you wish to become a mirror for this project you will have to create a
    user in this application.
    You will be asked to provide a valid email address.
  </p>

  <form class="form-inline border-radius" action="{{ url_for('new_user') }}" method="POST"> 
    <div class="form-item">
      <label for="username">username:</label>
      {{ form.user_name }}
    </div>
    <div class="form-item">
      <label for="display_name">Display name:</label>
      {{ form.display_name }}
    </div>
    <div class="form-item">
      <label for="email_address">Email:</label>
      {{ form.email_address }}
    </div>
    <div class="form-item">
      <label for="password">Password:</label>
      {{ form.password }}
    </div>
    <div class="form-item">
      <label for="confirm_password">Confirm:</label>
      {{ form.confirm_password }}
    </div>
  <p class="buttons indent">
    <input type="submit" class="btn btn-small border pill" value="Create user">
    {{ form.csrf_token }}
  </p>
</form>

{% endblock %}
