.nav-responsive {
	text-align: right

}

.container {
	max-width: 90%;
}

/*
input, select {
	width: 86%;
}
*/

input #bug_title {
	max-width: 80%;
}

textarea {
	min-width: 100%;
	height: 900px;
}

#new_comment {
	min-width: 100%;
	height: 300px;
}

#summary {
	min-width: 100%;
}

#bugcomment {
	max-width: 100%;
}

.alert-box {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:10px;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.error {
	background:#ffecec url('../../images/error.png') no-repeat 10px 50%;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('../../images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
}
.warning {
	background:#fff8c4 url('../../images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}
.notice {
	background:#e3f7fc url('../../images/notice.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
}

.subscribe:hover>div {
    display: none;
}

.subscribe:hover>form {
    display: block;
}

pre, legend {
	white-space: pre;
	text-align: left;
}

.intro {
	margin-top: 1rem;
	margin-bottom: 0;
}

/* To show the comment number icon*/
.commentimg {
	margin: auto;
	display: inline;
	width: auto;

}

/* Reducing the default padding. */
.form-item {
	padding: 6px 0;
}